{% extends 'base.html' %}

{% load blog_tags %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="col-lg-8">
            {% for post in posts %}
                <div class="post-container">
                    <h2 class="post-title">
                        <a href="{% url 'blog:view_post' post.slug %}">{{ post.title }}</a>
                    </h2>
                    <p class="post-excerpt">{{ post.content|plaintext|slice:200 }}...</p>
                    <p class="post-meta">{{ post.author.display_name }} · {{ post.get_created }}</p>
                </div>
            {% endfor %}
            {% include 'includes/pagination.html' %}
        </div>
        <div class="col-lg-4">
            <div class="sidebar">
                <h3>Recently Viewed Posts</h3>

                {% for post_id in recent_posts %}
                    {% with post=posts|get_post_by_id:post_id %}
                        {% if post %}
                            <div class="sidebar-item">
                                <a href="{% url 'blog:view_post' post.slug %}">{{ post.title }}</a>
                                <p class="text-muted small mb-0">{{ post.author.display_name }} · {{ post.get_created }}</p>
                            </div>
                        {% endif %}
                    {% endwith %}
                {% endfor %}
                
            </div>
        </div>
    </div>
</div>

{% endblock content %}