{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block content %}

<div class="container my-5 card border-0 rounded-0 shadow-lg" style="max-width: 700px;">
    <h1 class="display-5 fw-bold mb-4">
        {% if form.instance.pk %}Edit Post{% else %}Create a New Post{% endif %}
    </h1>
    <form method="post" enctype="multipart/form-data" id="postForm" novalidate data-tag-search-url="{% url 'blog:tag_search' %}">
        {% csrf_token %}
        {% crispy form %}
    </form>
</div>

<script src="{% static 'js/easymde_config.js' %}"></script>
<script src="{% static 'js/tags.js' %}"></script>

{% endblock content %}
