{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block content %}
<div class="container my-5 card border-0 rounded-0 shadow-lg" style="max-width: 700px;">
    <h1 class="display-5 fw-bold mb-4">
        {% if form.instance.pk %}Edit Post{% else %}Create a New Post{% endif %}
    </h1>
    <form method="post" enctype="multipart/form-data" id="postForm" novalidate>
        {% csrf_token %}
        {% crispy form %}
    </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var easyMDE = new EasyMDE({
            element: document.getElementById('id_content'),
            toolbar: [
                'bold', 'italic', 'heading', 'code', '|',
                'quote', 'unordered-list', 'ordered-list', '|',
                'link', 'image', 'horizontal-rule', '|',
                'preview', 'side-by-side', 'fullscreen', 'table',
            ],
            spellChecker: false,
            status: false,
            renderingConfig: {
                codeSyntaxHighlighting: true
            }
        });

        document.getElementById('postForm').addEventListener('submit', function (e) {
            var content = easyMDE.value().trim();
            document.getElementById('id_content').value = content;
            document.getElementById('id_content').removeAttribute('required');
        });
    });
</script>

{% endblock content %}
