{% extends 'base.html' %}

{% load blog_tags %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block content %}
<div class="container my-5" style="max-width: 800px;">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-12">
            {% if request.user.profile == post.author %}
                <a href="{% url 'blog:edit_post' post.slug %}" class="btn btn-dark rounded-0">Edit</a>
                <a href="{% url 'blog:delete_post' post.slug %}" class="btn btn-danger rounded-0">Delete</a>
            {% endif %}

            <h1 class="fw-bold mb-3">{{ post.title }}</h1>

            <p class="text-muted small mb-4">
                {{ post.author.display_name }} · {{ post.get_created }}
            </p>

            <div class="d-flex align-items-center gap-3 mb-3">

                <div class="d-flex align-items-center">
                    <button class="btn btn-link p-0 text-muted black-on-hover" style="line-height: 1;">
                        <i class="bi bi-heart-fill" style="font-size: 1.2rem;"></i>
                    </button>
                    <span class="text-muted small ms-1">42</span>
                </div>

                <div class="d-flex align-items-center">
                    <button class="btn btn-link p-0 text-muted black-on-hover" style="line-height: 1;">
                        <i class="bi bi-chat-fill" style="font-size: 1.2rem;"></i>
                    </button>
                    <span class="text-muted small ms-1">13</span>
                </div>

            </div>

            <hr>

            {% if post.header_image %}
                <img src="{{ post.header_image.url }}" alt="Post Image" class="post-image mb-4 img-fluid rounded">
            {% endif %}

            <div class="fs-5 text-dark markdown-content">
                {{ post.content|markdown }}
            </div>
        </div>
    </div>
</div>
{% endblock content %}